<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zstu.manage.dao.EnterpriseDao">
  <resultMap id="BaseResultMap" type="com.zstu.manage.bean.Enterprise">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprisenumber" jdbcType="VARCHAR" property="enterprisenumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="enterprisename" jdbcType="VARCHAR" property="enterprisename" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprisenumber, password, state, `describe`, enterprisename
  </sql>
  
  <select id="selectByEnterpriseNumber" parameterType="com.zstu.manage.bean.Enterprise" resultMap="BaseResultMap">
    select * from enterprise
    where enterprisenumber = #{enterprisenumber}
  </select>

  <select id="getByEnterpriseName" parameterType="com.zstu.manage.bean.Enterprise" resultMap="BaseResultMap">
    select *
    from enterprise
    where enterprisename = #{enterprisename}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from enterprise
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enterprise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from enterprise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zstu.manage.bean.Enterprise">
    insert into enterprise (id, enterprisenumber, password, 
      state, `describe`, enterprisename
      )
    values (#{id,jdbcType=INTEGER}, #{enterprisenumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{describe,jdbcType=VARCHAR}, #{enterprisename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zstu.manage.bean.Enterprise">
    insert into enterprise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterprisenumber != null">
        enterprisenumber,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="enterprisename != null">
        enterprisename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterprisenumber != null">
        #{enterprisenumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null">
        #{enterprisename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zstu.manage.bean.Enterprise">
    update enterprise
    <set>
      <if test="enterprisenumber != null">
        enterprisenumber = #{enterprisenumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null">
        enterprisename = #{enterprisename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zstu.manage.bean.Enterprise">
    update enterprise
    set enterprisenumber = #{enterprisenumber,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      `describe` = #{describe,jdbcType=VARCHAR},
      enterprisename = #{enterprisename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>